.message {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
  color: white;
}

.message-content {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #212121;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.message.user .message-content {
  background-color: #00408d;
  color: white;
}

.typing-indicator {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #212121;
  color: #fff;
}

.typing-indicator .dot {
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 2px;
  animation: blink 1.4s infinite both;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}